@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Technor-Extralight';
        src: url('./assets/technor/fonts/Technor-Extralight.woff2') format('woff2'),
             url('./assets/technor/fonts/Technor-Extralight.woff') format('woff'),
             url('./assets/technor/fonts/Technor-Extralight.ttf') format('truetype');
        font-weight: 200;
        font-display: swap;
        font-style: normal;
      }
      @font-face {
        font-family: 'Technor-Light';
        src: url('./assets/technor/fonts/Technor-Light.woff2') format('woff2'),
             url('./assets/technor/fonts/Technor-Light.woff') format('woff'),
             url('./assets/technor/fonts/Technor-Light.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
        font-style: normal;
      }
      @font-face {
        font-family: 'Technor-Regular';
        src: url('./assets/technor/fonts/Technor-Regular.woff2') format('woff2'),
             url('./assets/technor/fonts/Technor-Regular.woff') format('woff'),
             url('./assets/technor/fonts/Technor-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
      }
      @font-face {
        font-family: 'Technor-Medium';
        src: url('./assets/technor/fonts/Technor-Medium.woff2') format('woff2'),
             url('./assets/technor/fonts/Technor-Medium.woff') format('woff'),
             url('./assets/technor/fonts/Technor-Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
      }
      @font-face {
        font-family: 'Technor-Semibold';
        src: url('./assets/technor/fonts/Technor-Semibold.woff2') format('woff2'),
             url('./assets/technor/fonts/Technor-Semibold.woff') format('woff'),
             url('./assets/technor/fonts/Technor-Semibold.ttf') format('truetype');
        font-weight: 600;
        font-display: swap;
        font-style: normal;
      }
      @font-face {
        font-family: 'Technor-Bold';
        src: url('./assets/technor/fonts/Technor-Bold.woff2') format('woff2'),
             url('./assets/technor/fonts/Technor-Bold.woff') format('woff'),
             url('./assets/technor/fonts/Technor-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
      }
      @font-face {
        font-family: 'Technor-Black';
        src: url('./assets/technor/fonts/Technor-Black.woff2') format('woff2'),
             url('./assets/technor/fonts/Technor-Black.woff') format('woff'),
             url('./assets/technor/fonts/Technor-Black.ttf') format('truetype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
      }
}

@layer components {
     .prose {
       @apply text-lg leading-relaxed text-gray-700 font-technor-regular;
     }
   
     .prose h1 {
       @apply text-4xl font-technor-bold mt-6 mb-2;
     }
   
     .prose h2 {
       @apply text-3xl font-technor-semibold mt-5 mb-2;
     }
   
     .prose h3 {
       @apply text-2xl font-technor-medium mt-4 mb-2;
     }
   
     .prose p {
       @apply mb-4;
     }
   
     .prose ul, .prose ol {
       @apply pl-6 mb-4;
     }
   
     .prose li {
       @apply mb-2;
     }
   
     .prose blockquote {
       @apply pl-4 border-l-4 border-customTeal italic;
     }
   
     .prose code {
       @apply bg-gray-100 px-1 rounded font-mono;
     }
   
     .prose pre {
       @apply bg-gray-100 p-4 rounded-lg my-4;
     }
   }